<html>
    <head>
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" >
        <title><%= title %></title>
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1><%= title %><h1>
            </div>
            
            <div class="row">
                <form method="post" action="/search" class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="keyword">Keyword</label>
                        <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Keyword or key">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-default" value="Search">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>