<html>
    <head>
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" >
        <title><%= title %></title>
        <style type="text/css" >
            .page-header h1 a.title,
            .page-header h1 a.title:hover {color: #222; text-decoration: none;}
        </style>
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>
                    <a href="/" class="title"><%= title %></a>
                    <small>
                        <form method="post" action="/search" class="form-inline pull-right">
                            <div class="form-group">
                                <select class="form-control" id="language" name="language" >
                                    <% languages.forEach(function(language, i) { %>
                                        <option value="<%= language %>" <% if (language === file) { %>selected="selected"<% } %> ><%= language %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="keyword">Keyword</label>
                                <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Keyword" value="<%= keyword %>">
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-default" value="Search">
                            </div>
                        </form>
                    </small>
                </h1>
            </div>
            
            <div class="row">
                <h4>Key <span class="label label-default"><%= key %></span> match with <span class="label label-default"><%= matchsLength %></span> files.</h4>
                <% if (matchsLength > 0) { %>
                    <div class="panel panel-default">
                        <ul class="list-group">
                            <% matchs.forEach(function(match){ %>
                                <li class="list-group-item">
                                    <h4>File: <%= match.file %></h4>
                                    <% if (match.translation) { %>
                                        <h4>Value: <%= match.translation %></h4>
                                    <% } else { %>
                                        <h4>Value: <span class="label label-danger">Not found</span></h4>
                                    <% } %>
                                </li>
                            <% }) %>
                        </ul>
                    </div>
                <% } %>
            </div>
        </div>
    </body>
</html>